name: ecs

on:
  # push:
  #   branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:
    inputs:
      OPERATE:
        description: "Choose operation"
        required: true
        default: "apply"
        type: choice
        options:
          - apply
          - destroy
          - check

env:
  AWS_REGION: ap-northeast-1
  JOB_NAME: ecs # Same as job name
  STORE_PATH: state/${{ github.event.repository.name }}/ecs
  TERRAFORM_WORK_DIR: src/ecs/terraform
  APP_WORK_DIR: src/ecs/app

permissions:
  id-token: write
  contents: read

jobs:
  check:
    if: github.event_name != 'workflow_dispatch'
    name: check credentials
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: 'arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/${{ secrets.AWS_VPC_ACCESS_ROLE }}'
  
  deploy:
    if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.OPERATE != 'check' }}
    name: deploy lambda
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: 'arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/${{ secrets.AWS_VPC_ACCESS_ROLE }}'

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Get state file
        uses: ./.github/actions/_tfstate_pull_module/
        with:
          state_repo_name: ${{ secrets.STATE_REPO_NAME }}
          state_repo_token: ${{ secrets.STATE_REPO_TOKEN }}
          store_path: ${{ env.STORE_PATH }}
          terraform_work_path: ${{ env.TERRAFORM_WORK_DIR}}

      - name: Terraform Init
        working-directory: ${{ env.TERRAFORM_WORK_DIR }}
        run: terraform init -reconfigure

      - name: Terraform Plan
        if: github.event.inputs.OPERATE == 'apply'
        working-directory: ${{ env.TERRAFORM_WORK_DIR }}
        run: |
          terraform plan \
            -var="ec2_user_data_git_repo_url=${{ github.server_url }}/${{ github.repository }}.git" \
            -var="ec2_user_data_git_branch=${{ github.ref_name }}" \
            -out=tfplan

      - name: Terraform Apply
        if: github.event.inputs.OPERATE == 'apply'
        working-directory: ${{ env.TERRAFORM_WORK_DIR }}
        run: terraform apply -auto-approve tfplan
      
      - name: Terraform Destroy
        if: github.event.inputs.OPERATE == 'destroy'
        working-directory: ${{ env.TERRAFORM_WORK_DIR }}
        run: terraform destroy -auto-approve

      - name: Upload state file
        uses: ./.github/actions/_tfstate_push_module/
        with:
          state_repo_name: ${{ secrets.STATE_REPO_NAME }}
          state_repo_token: ${{ secrets.STATE_REPO_TOKEN }}
          store_path: ${{ env.STORE_PATH }}
          terraform_work_path: ${{ env.TERRAFORM_WORK_DIR}}
